{{ define "main" }}
{{ $personas := site.Data.personas.hasDefinedTerm | default (slice) }}
{{ $vocab := site.Data.tag_vocabulary }}
{{ $audienceVocab := $vocab.audience.values | default (slice) }}
{{ $audienceLabels := $vocab.audience.labels | default (dict) }}

<article class="max-w-full">
  {{/* Section Header */}}
  {{ partial "section-header.html" (dict
      "title" .Title
      "description" .Description
      "icon" "users"
  ) }}

  {{/* Section Content */}}
  <section class="max-w-full mt-6 prose dark:prose-invert prose-table:w-full prose-img:max-w-full [&>*]:max-w-none">
    {{ .Content }}
  </section>

  {{/* Persona List */}}
  <section class="mt-8">
    {{ partial "persona-list.html" (dict "personas" $personas "audienceVocab" $audienceVocab "audienceLabels" $audienceLabels) }}
  </section>
</article>
{{ end }}


