{{/* Relevant For Card - displays audience with icons from audience.json */}}
{{ $audienceParams := .Params.audience | default (slice) }}
{{ if gt (len $audienceParams) 0 }}
{{ $audienceList := site.Data.audience.audience.itemListElement | default (slice) }}
<div class="card bg-base-100 shadow-sm border border-base-300">
  <div class="card-body p-4">
    <h3 class="card-title text-sm font-semibold flex items-center gap-2">
      {{ partial "content-icon.html" (dict "name" "users" "color" "info" "size" "4") }}
      Relevant For
    </h3>
    <ul class="mt-2 space-y-1">
      {{ range $audienceParams }}
      {{ $audienceId := . }}
      {{ $audience := dict }}
      {{ range $audienceList }}
        {{ if eq .identifier $audienceId }}
          {{ $audience = . }}
        {{ end }}
      {{ end }}
      {{ $name := $audience.name | default ($audienceId | humanize | title) }}
      {{ $icon := $audience.icon | default "user" }}
      <li>
        <a href="/personas/{{ $audienceId }}/" class="flex items-center gap-2 text-sm hover:text-primary">
          {{ partial "content-icon.html" (dict "name" $icon "size" "4") }}
          {{ $name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
