{{ define "main" }}
{{ .Scratch.Set "scope" "single" }}

{{/* Resolve country slug/id */}}
{{ $slug := "" }}
{{ with .File }}
  {{ $slug = strings.TrimSuffix "/" (strings.TrimPrefix "countries/" .Dir) }}
{{ end }}

{{ $countryId := .Params.countryId | default .Params.country_id | default "" }}
{{ $country := dict }}
{{ $countries := site.Data.countries.countries.itemListElement }}
{{ if not $countryId }}
  {{ $match := first 1 (where $countries "slug" $slug) }}
  {{ with index $match 0 }}
    {{ $country = . }}
    {{ $countryId = .identifier }}
  {{ end }}
{{ else }}
  {{ $match := first 1 (where $countries "identifier" $countryId) }}
  {{ with index $match 0 }}
    {{ $country = . }}
  {{ end }}
{{ end }}

{{ $countryName := $countryId }}
{{ $countryFlag := "" }}
{{ if $country }}
  {{ $countryName = $country.name | default $countryId }}
  {{ $countryFlag = $country.flag | default "" }}
{{ end }}

{{/* Build country lookup for use by partials */}}
{{ $regionsById := dict }}
{{ range ($countries | default (slice)) }}
  {{ $regionsById = merge $regionsById (dict .identifier .) }}
{{ end }}

{{/* Compute datacenter provider stats for sidebar */}}
{{ $providers := site.Data.datacenters.datacenters | default (slice) }}
{{ $providerItems := slice }}
{{ $totalRegions := 0 }}
{{ if $countryId }}
  {{ range $providers }}
    {{ $p := . }}
    {{ $count := 0 }}
    {{ range ($p.regions | default (slice)) }}
      {{ if eq .countryId $countryId }}
        {{ $count = add $count 1 }}
      {{ end }}
    {{ end }}
    {{ if gt $count 0 }}
      {{ $totalRegions = add $totalRegions $count }}
      {{ $providerItems = $providerItems | append (dict "provider" $p "count" $count "name" ($p.name | default $p.identifier)) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $providerItems = sort $providerItems "name" "asc" }}
{{ $providerItems = sort $providerItems "count" "desc" }}

{{/* Build pageData for content partial */}}
{{ $pageData := dict
    "countryId" $countryId
    "country" $country
    "countryName" $countryName
    "regionsById" $regionsById
}}

{{ partial "common-single-page.html" (dict
    "page" .
    "flag" $countryFlag
    "section" "Countries"
    "sectionUrl" "/countries/"
    "headerDescription" .Description
    "showAbstract" false
    "showSummary" false
    "showFeaturedImage" false
    "showQuote" false
    "showToc" false
    "contentPartial" "content/countries-content.html"
    "pageData" $pageData
    "sidebarCards" (slice
        (dict "partial" "sidebar/datacenter-country-details-card.html"
              "params" (dict "country" $country "providerCount" (len $providerItems) "regionCount" $totalRegions))
        (dict "partial" "sidebar/countries-datacenters-link-card.html"
              "params" (dict "slug" $slug "countryName" $countryName "totalRegions" $totalRegions))
        (dict "partial" "sidebar/jurisdiction-risk-card.html"
              "params" (dict "countryId" $countryId))
        (dict "partial" "sidebar/jurisdiction-memberships-card.html"
              "params" (dict "countryId" $countryId))
        (dict "partial" "sidebar/jurisdiction-laws-card.html"
              "params" (dict "countryId" $countryId))
        (dict "partial" "datacenter-country-providers-sidebar.html"
              "params" (dict "providerItems" $providerItems "countryName" $countryName "countryFlag" $countryFlag))
        (dict "partial" "related-content-sidebar.html"
              "params" (dict "page" . "countryId" $countryId))
    )
) }}

{{ end }}
