{{/*
Datacenter Countries list
Usage: {{< datacenter-countries >}}

Renders country chips (flag + number of datacenter regions physically located there).
Links to /datacenters/{country}/ pages.
*/}}

{{ $providers := site.Data.datacenters.providers | default (slice) }}

{{/* Count datacenter regions by physical country */}}
{{ $counts := dict }}
{{ range $providers }}
  {{ range (.regions | default (slice)) }}
    {{ $cid := .country_id | default "" }}
    {{ if $cid }}
      {{ $prev := index $counts $cid | default 0 }}
      {{ $counts = merge $counts (dict $cid (add $prev 1)) }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Convert dict -> slice for sorting */}}
{{ $items := slice }}
{{ range $cid, $count := $counts }}
  {{ $region := partial "get-region-by-id.html" $cid }}
  {{ $name := $region.name | default $cid }}
  {{ $items = $items | append (dict
    "id" $cid
    "count" $count
    "region" $region
    "name" $name
  ) }}
{{ end }}

{{/* Sort by name */}}
{{ $items = sort $items "id" "asc" }}
{{ $items = sort $items "name" "asc" }}

<div class="flex flex-wrap gap-2">
  {{ range $items }}
    {{ $region := .region }}
    {{ $flag := $region.flag | default "" }}
    {{ $slug := $region.slug | default "" }}
    {{ $risk := $region.riskLevel | default "unknown" }}
    {{ $href := "" }}
    {{ if $slug }}
      {{ $href = printf "/datacenters/%s/" $slug }}
    {{ end }}

    {{ partial "chip-link.html" (dict
      "href" $href
      "title" (printf "Datacenters located in %s (%s) • Count: %d • Country risk: %s" .name .id .count $risk)
      "risk" $risk
      "label" .name
      "meta" (string .count)
      "flag" $flag
    ) }}
  {{ end }}
</div>
